# Question 1:

In [1]:
# creating 1st tuple with values (10,20,30)
t1 = (10, 20, 30)

# creating 2nd tuple with values (40,50,60)
t2 = (40, 50, 60)

In [2]:
# a. concatenate the two tuples and store it in "t_combine"
t_combine = t1 + t2
print("Concatenated Tuple: ", t_combine)

Concatenated Tuple:  (10, 20, 30, 40, 50, 60)

In [3]:
# b. Repeat the elements of "t_combine" 3 times
t_combine_3x = t_combine * 3
print("Repeated Tuple: ", t_combine_3x)

Repeated Tuple:  (10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [4]:
# c. access the 3rd element from "t_combine"
third_element = t_combine[2]
print("3rd element of Tuple: ", third_element)

3rd element of Tuple:  30

In [5]:
# d. access the first three elements from "t_combine"
first_three_elements = t_combine[:3]
print("First Three Elements of Tuple: ", first_three_elements)

First Three Elements of Tuple:  (10, 20, 30)

In [6]:
# e. access the last three elements from "t_combine"
last_three_elements = t_combine[-3:]
print("Last Three Elements of Tuple: ", last_three_elements)

Last Three Elements of Tuple:  (40, 50, 60)

# Question 2:

In [7]:
# create a list 'my_list' with tuples
my_list = [(1, 2, 3), ("a", "b", "c"), (True, False)]

# print the list
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

# Question 3:

In [8]:
# append a new tuple - (1,'a',True) to 'my_list'
my_list.append((1, 'a', True))
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True)]

In [9]:
# append a new list - ["sparta", 123] to 'my_list'
my_list.append(["sparta", 123])
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), ['sparta', 123]]

# Question 4:

In [10]:
# create a dictionary 'fruit'
fruit = {'Fruit': ("Apple", "Banana","Mango","Guava"), 'Cost': (85,54,120,70)}

In [11]:
# extract all the keys from 'fruit'
print("Keys of 'fruit':")
for key in fruit.keys():
    print(key)

Keys of 'fruit':
Fruit
Cost

In [12]:
# extract all the values from 'fruit'
print("Values of 'fruit':")
for value in fruit.values():
    print(value)

Values of 'fruit':
('Apple', 'Banana', 'Mango', 'Guava')
(85, 54, 120, 70)

# Question 5:

In [13]:
# create a set 'my_set' with values (1,1,"a","a", True, True)
my_set = {1, 1, "a", "a", True, True}

# print the set
print(my_set)

{1, 'a'}